version: "3.9"
services:
  pg:
    image: postgres:11
    volumes:
      - ./docker/db-init-scripts:/docker-entrypoint-initdb.d:cached
      - ./data/db:/var/lib/postgresql/data:cached
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: sh /code/run_web.sh
    volumes:
    - .:/code
    ports:
    - "5000:5000"
    depends_on:
      pg:
        condition: service_healthy
